#name {
  font-family: 'Rockwell', 'Georgia';
  color:FloralWhite;
  border: 12px solid black;
  align-content: center;
}


.contact {
  font-family: 'Copperplate', 'Georgia';
  color:FloralWhite ;
  
}

body {
  background-image: url(https://www.grosh.com/media/Wood-Panel-POP036.jpg);
  background-size: cover;
  align-content: center;
}

.guts {
  font-family: 'Mongolian Baiti', 'Georgia';
  color:FloralWhite;
}

ul {
 color:FloralWhite;
 border: 8px solid black;
 padding: 20px;
 margin: 30px;
}

