h1 {
  font-family: 'Rockwell', Georgia';
  color: black;
}

h4 {
  font-family: 'Rockwell', Georgia';
  color:black;
}

h6 {
  font-family: 'Rockwell', Georgia';
}

.contact {
  font-family: 'Copperplate', 'Georgia';
  color:black ;
  background-image: url(https://www.flickr.com/photos/brenda-starr/5084485739/);
  background-size: cover;
}

p {
  font-family: 'Mongolian Baiti', 'Georgia';
}

