h1 {
  font-family: 'Rockwell', Georgia';
  color: black;
}

h4 {
  font-family: 'Rockwell', Georgia';
  color:black;
}

h6 {
  font-family: 'Rockwell', Georgia';
}

.contact {
  font-family: 'Copperplate', 'Georgia';
  color:black ;
  background-image: url(milky-way-2695569_1920.jpg);
  background-size: cover;
}

p {
  font-family: 'Mongolian Baiti', 'Georgia';
}

